<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">BearShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/write">AddProduct</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">List</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-right">
        <!--  <li class="nav-item">
          <a class="nav-link" href="/upload">ImgUpload</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link" href="https://github.com/YongGwang/HomeWork.git">Go to Github(node.js + express)</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="https://github.com/YongGwang/SeverStudy.git">Go to Github(AutoPacket)</a>
        </li>
      </ul>
    </div>
  </nav>